[submodule "chisel_processors"]
	path = chisel_processors
	url = https://github.com/GaloisInc/BESSPIN-chisel_processors.git
[submodule "bluespec-processors/P1/Piccolo"]
	path = bluespec-processors/P1/Piccolo
	url = https://github.com/CTSRD-CHERI/Piccolo.git
	branch = CHERI
[submodule "FreeRTOS-mirror"]
	path = FreeRTOS-mirror
	url = https://github.com/GaloisInc/BESSPIN-FreeRTOS-mirror.git
[submodule "bluespec-processors/P2/Flute"]
	path = bluespec-processors/P2/Flute
	url = https://github.com/CTSRD-CHERI/Flute.git
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/GaloisInc/BESSPIN-riscv-linux.git
[submodule "bluespec-processors/P3/Toooba"]
	path = bluespec-processors/P3/Toooba
	url = https://github.com/CTSRD-CHERI/Toooba.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/GaloisInc/BESSPIN-riscv-tests.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/GaloisInc/BESSPIN-riscv-openocd.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/CTSRD-CHERI/newlib
	branch = p1_release
[submodule "benchmarks/coremark"]
	path = benchmarks/coremark
	url = https://github.com/GaloisInc/BESSPIN-coremark.git
[submodule "freebsd/cheribsd"]
	path = freebsd/cheribsd
	url = https://github.com/CTSRD-CHERI/cheribsd.git
[submodule "benchmarks/mibench2"]
	path = benchmarks/mibench2
	url = https://github.com/GaloisInc/BESSPIN-mibench2.git
[submodule "cloudGFE"]
	path = cloudGFE
	url = https://github.com/GaloisInc/BESSPIN-CloudGFE
